<h3>Edit Product</h3>

<div class="well">
<%= form_for @product do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :tag_list, "Tags (Separated by commas)" %>
<%= f.text_field :tag_list %>

<%= f.label :description %>
<%= f.text_field :description %>
<%= f.label :price_in_cents, "Price" %>
<%= f.text_field :price_in_cents %>
<p><%= image_tag @product.image.url(:medium) %>
<p>
	<%= f.submit "Save" %>
</p>

<% end %>
