<h3>Edit Product</h3>

<div class="well">
<%= form_for @product do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :tag_list, "Tags (Separated by commas)" %>
<%= f.text_field :tag_list %>

<%= f.label :description %>
<%= f.text_area :description, :size => "30x10" %>

<%= f.label :price_in_cents, "Price" %>
<%= f.text_field :price_in_cents %>
<p><%= f.file_field :image %></p>

 <label>
  <%= f.check_box :remove_image %>
      Remove Image
    </label>
    <p> <%= image_tag @product.image.url(:thumb) %></p>
<p>
	<%= f.submit "Save" %>
</p>
<p><%= link_to "Back", product_path %></p>

<% end %>
