<h3>Products</h3>

<% @products.each do |product| %>
	<div class="well">
	<p>Item:
	<%= link_to product_path(product.id) do %>
	<%= product.name %></p>
	<% end %>
	<p>Description: <%= product.description %></p>
	<p>Tags: <%= product.tag_list %>
	<p>Price: <%= product.formatted_price %></p>
</div>
<% end %>
